In [ ]:
import numpy as np 
import pandas as pd 
import os

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [ ]:
movies.shape

(4803, 20)

In [ ]:
top = movies.sort_values('popularity', ascending=False).head(250)

In [ ]:
top.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
546,74000000,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 16, ""...",http://www.minionsmovie.com/,211672,"[{""id"": 3487, ""name"": ""assistant""}, {""id"": 179...",en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",875.581305,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-17,1156730962,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Before Gru, they had a history of bad bosses",Minions,6.4,4571
95,165000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",http://www.interstellarmovie.net/,157336,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2014-11-05,675120017,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867
788,58000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.foxmovies.com/movies/deadpool,293660,"[{""id"": 2095, ""name"": ""anti hero""}, {""id"": 307...",en,Deadpool,Deadpool tells the origin story of former Spec...,514.569956,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-02-09,783112979,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness the beginning of a happy ending,Deadpool,7.4,10995
94,170000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",http://marvel.com/guardians,118340,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",481.098624,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2014-07-30,773328629,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,All heroes start somewhere.,Guardians of the Galaxy,7.9,9742
127,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.madmaxmovie.com/,76341,"[{""id"": 2964, ""name"": ""future""}, {""id"": 3713, ...",en,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,434.278564,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-05-13,378858340,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What a Lovely Day.,Mad Max: Fury Road,7.2,9427
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513528810,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662
199,140000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneyvideos/liveaction/p...,22,"[{""id"": 911, ""name"": ""exotic island""}, {""id"": ...",en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",271.972889,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-07-09,655011224,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985
82,170000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.dawnofapes.com/,119450,"[{""id"": 3077, ""name"": ""leader""}, {""id"": 4090, ...",en,Dawn of the Planet of the Apes,A group of scientists in San Francisco struggl...,243.791743,"[{""name"": ""Ingenious Media"", ""id"": 290}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2014-06-26,710644566,130.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,One last chance for peace.,Dawn of the Planet of the Apes,7.3,4410
200,125000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.thehungergames.movie/,131631,"[{""id"": 836, ""name"": ""resistance""}, {""id"": 445...",en,The Hunger Games: Mockingjay - Part 1,Katniss Everdeen reluctantly becomes the symbo...,206.227151,"[{""name"": ""Lionsgate"", ""id"": 1632}, {""name"": ""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2014-11-18,752100229,123.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fire burns brighter in the darkness,The Hunger Games: Mockingjay - Part 1,6.6,5584
88,165000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",http://movies.disney.com/big-hero-6,177572,"[{""id"": 380, ""name"": ""brother brother relation...",en,Big Hero 6,The special bond that develops between plus-si...,203.734590,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2014-10-24,652105443,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,From the creators of Wreck-it Ralph and Frozen,Big Hero 6,7.8,6135

In [ ]:
top = top[['title', 'vote_count', 'vote_average', 'popularity', 'genres']]

In [ ]:
import ast

In [ ]:
def convert(text):
    N = []
    for i in ast.literal_eval(text):
        N.append(i['name']) 
    return N

In [ ]:
top['genres'] = top['genres'].apply(convert)

In [ ]:
top.head(10)

,title,vote_count,vote_average,popularity,genres
546,Minions,4571,6.4,875.581305,"[Family, Animation, Adventure, Comedy]"
95,Interstellar,10867,8.1,724.247784,"[Adventure, Drama, Science Fiction]"
788,Deadpool,10995,7.4,514.569956,"[Action, Adventure, Comedy]"
94,Guardians of the Galaxy,9742,7.9,481.098624,"[Action, Science Fiction, Adventure]"
127,Mad Max: Fury Road,9427,7.2,434.278564,"[Action, Adventure, Science Fiction, Thriller]"
28,Jurassic World,8662,6.5,418.708552,"[Action, Adventure, Science Fiction, Thriller]"
199,Pirates of the Caribbean: The Curse of the Bla...,6985,7.5,271.972889,"[Adventure, Fantasy, Action]"
82,Dawn of the Planet of the Apes,4410,7.3,243.791743,"[Science Fiction, Action, Drama, Thriller]"
200,The Hunger Games: Mockingjay - Part 1,5584,6.6,206.227151,"[Science Fiction, Adventure, Thriller]"
88,Big Hero 6,6135,7.8,203.734590,"[Adventure, Family, Animation, Action, Comedy]"

In [ ]:
rate = movies.sort_values('vote_average', ascending=False).head(250)
rate = rate[['title', 'vote_count', 'vote_average', 'popularity', 'genres']]

In [ ]:
def convert(text):
    M = []
    for i in ast.literal_eval(text):
        M.append(i['name']) 
    return M

In [ ]:
rate['genres'] = rate['genres'].apply(convert)

In [ ]:
rate.head(10)

,title,vote_count,vote_average,popularity,genres
3519,Stiff Upper Lips,1,10.0,0.356495,[Comedy]
4247,Me You and Five Bucks,2,10.0,0.094105,"[Romance, Comedy, Drama]"
4045,"Dancer, Texas Pop. 81",1,10.0,0.376662,"[Comedy, Drama, Family]"
4662,Little Big Top,1,10.0,0.092100,[Comedy]
3992,Sardaarji,2,9.5,0.296981,[]
2386,One Man's Hero,2,9.3,0.910529,"[Western, Action, Drama, History]"
2970,There Goes My Baby,2,8.5,0.037073,"[Drama, Comedy]"
1881,The Shawshank Redemption,8205,8.5,136.747729,"[Drama, Crime]"
2796,The Prisoner of Zenda,11,8.4,4.021389,"[Adventure, Drama, Romance]"
3337,The Godfather,5893,8.4,143.659698,"[Drama, Crime]"

In [ ]:
temp = top.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
temp.name = 'genre'
newtop = top.drop('genres', axis=1).join(temp)

In [ ]:
def make_toplist(genre):
    df = newtop[newtop['genre'] == genre]
    qualified = df.sort_values('popularity', ascending=False).head(250)
    
    return qualified

In [ ]:
Mystery=make_toplist('Mystery').head(10)
Romance=make_toplist('Romance').head(10)
Action=make_toplist('Action').head(10)
Crime=make_toplist('Crime').head(10)
SF=make_toplist('Science Fiction').head(10)
Comedy=make_toplist('Comedy').head(10)
Drama=make_toplist('Drama').head(10)

In [ ]:
top.to_csv('Top10.csv',index=False)
rate.to_csv('Toprated.csv',index=False)
Romance.to_csv('Romance.csv',index=False)
Action.to_csv('Action.csv',index=False)
Crime.to_csv('Crime.csv',index=False)
SF.to_csv('SF.csv',index=False)
Comedy.to_csv('Comedy.csv',index=False)
Drama.to_csv('Drama.csv',index=False)
Mystery.to_csv('Mystery.csv',index=False)

In [ ]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')

In [ ]:
movies['year'] = movies['release_date'].dt.year

In [ ]:
movies['year'].value_counts().sort_index()

1916.0      1
1925.0      1
1927.0      1
1929.0      2
1930.0      1
         ...
2013.0    231
2014.0    238
2015.0    216
2016.0    104
2017.0      1
Name: year, Length: 90, dtype: int64

In [ ]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies = movies.merge(credits,on='title')

In [ ]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']] #important columns for tagging

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
import ast

In [ ]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [ ]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
3876,13551,The Dead Girl,The clues to a young woman's death come togeth...,"[Mystery, Drama, Crime, Thriller]","[prostitute, fire, newspaper, independent film...","[Brittany Murphy, Toni Collette, Rose Byrne]",[Karen Moncrieff]
3691,16337,The Texas Chainsaw Massacre 2,A radio host is victimized by the cannibal fam...,[Horror],"[hammer, gore, slasher, chainsaw, b horror]","[Dennis Hopper, Caroline Williams, Jim Siedow]",[Tobe Hooper]
4408,56491,In Her Line of Fire,When the Vice President's plane goes down near...,"[Drama, Action, Thriller]","[rebel, usa president, hostage, airplane]","[Mariel Hemingway, David Keith, David Millbern]",[Brian Trenchard-Smith]
1737,10025,Just My Luck,Manhattanite Ashley is known to many as the lu...,"[Comedy, Drama, Family, Fantasy, Romance]","[jinx, bad luck, kiss, romantic comedy, alcoho...","[Lindsay Lohan, Samaire Armstrong, Chris Pine]",[Donald Petrie]
3591,256274,"As Above, So Below",When a team of explorers ventures into the cat...,"[Horror, Thriller]","[paris, treasure, catacombs, scientist, singin...","[Perdita Weeks, Ben Feldman, Edwin Hodge]",[John Erick Dowdle]

In [ ]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [ ]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i)
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [ ]:
movies['actor_1'] = movies['cast'].map(lambda x: get_actor1(x))

In [ ]:
movies['actor_1']

0       SamWorthington
1           JohnnyDepp
2          DanielCraig
3        ChristianBale
4         TaylorKitsch
             ...
4804    CarlosGallardo
4805       EdwardBurns
4806        EricMabius
4807      DanielHenney
4808     DrewBarrymore
Name: actor_1, Length: 4806, dtype: object

In [ ]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i)
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [ ]:
movies['actor_2'] = movies['cast'].map(lambda x: get_actor2(x))

In [ ]:
movies['actor_2']

0            ZoeSaldana
1          OrlandoBloom
2        ChristophWaltz
3          MichaelCaine
4           LynnCollins
             ...
4804       JaimedeHoyos
4805         KerryBishé
4806       KristinBooth
4807         ElizaCoupe
4808    BrianHerzlinger
Name: actor_2, Length: 4806, dtype: object

In [ ]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i)
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [ ]:
movies['actor_3'] = movies['cast'].map(lambda x: get_actor3(x))

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
new = movies.drop(columns=['overview','keywords','cast'])
#new.head()

In [ ]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,genres,crew,actor_1,actor_2,actor_3,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]",[JamesCameron],SamWorthington,ZoeSaldana,SigourneyWeaver,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[GoreVerbinski],JohnnyDepp,OrlandoBloom,KeiraKnightley,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]",[SamMendes],DanielCraig,ChristophWaltz,LéaSeydoux,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[ChristopherNolan],ChristianBale,MichaelCaine,GaryOldman,Following the death of District Attorney Harve...
4,49529,John Carter,"[Action, Adventure, ScienceFiction]",[AndrewStanton],TaylorKitsch,LynnCollins,SamanthaMorton,"John Carter is a war-weary, former military ca..."

In [ ]:
new['genres'] = new.genres.apply(lambda x: ', '.join([str(i) for i in x]))
new['crew'] = new.crew.apply(lambda x: ' '.join([str(i) for i in x]))

In [ ]:
new.head()

,movie_id,title,genres,crew,actor_1,actor_2,actor_3,tags
0,19995,Avatar,"Action, Adventure, Fantasy, ScienceFiction",JamesCameron,SamWorthington,ZoeSaldana,SigourneyWeaver,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Adventure, Fantasy, Action",GoreVerbinski,JohnnyDepp,OrlandoBloom,KeiraKnightley,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"Action, Adventure, Crime",SamMendes,DanielCraig,ChristophWaltz,LéaSeydoux,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"Action, Crime, Drama, Thriller",ChristopherNolan,ChristianBale,MichaelCaine,GaryOldman,Following the death of District Attorney Harve...
4,49529,John Carter,"Action, Adventure, ScienceFiction",AndrewStanton,TaylorKitsch,LynnCollins,SamanthaMorton,"John Carter is a war-weary, former military ca..."

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmitizer=WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
def lem(text):
  y=[]

  for i in text.split():
    y.append(lemmitizer.lemmatize(i))

  return " ".join(y)

In [ ]:
lem(new['tags'][4])

"John Carter is a war-weary, former military captain who's inexplicably transported to the mysterious and exotic planet of Barsoom (Mars) and reluctantly becomes embroiled in an epic conflict. It's a world on the brink of collapse, and Carter rediscovers his humanity when he realizes the survival of Barsoom and it people rest in his hands. Action Adventure ScienceFiction basedonnovel mar medallion spacetravel princess alien steampunk martian escape edgarriceburroughs alienrace superhumanstrength marscivilization swordandplanet 19thcentury 3d TaylorKitsch LynnCollins SamanthaMorton AndrewStanton"

In [ ]:
new['tags']=new['tags'].apply(lem)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vector = cv.fit_transform(new['tags']).toarray()

In [ ]:
vector.shape

(4806, 5000)

In [ ]:
cv.get_feature_names()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
similarity

array([[1.        , 0.0860309 , 0.08740748, ..., 0.04634898, 0.02666904,
        0.        ],
       [0.0860309 , 1.        , 0.06350006, ..., 0.02525381, 0.        ,
        0.02760788],
       [0.08740748, 0.06350006, 1.        , ..., 0.0256579 , 0.        ,
        0.        ],
       ...,
       [0.04634898, 0.02525381, 0.0256579 , ..., 1.        , 0.07045671,
        0.04462107],
       [0.02666904, 0.        , 0.        , ..., 0.07045671, 1.        ,
        0.05134962],
       [0.        , 0.02760788, 0.        , ..., 0.04462107, 0.05134962,
        1.        ]])

In [ ]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [ ]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [ ]:
new.to_csv('TMDBdata.csv',index=False)